<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dashboard.css')}}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Admin</title>
</head>
<body>
<header>
	<div id="logo">
		<a href="{{url_for('dashboard')}}">
			<img src="{{url_for('static', filename='images/df_logo-1.png')}}">
		</a>
	</div>
	<div id="Data">
		<h1>Dashboard</h1>
	</div>
	<div id="signout">
	<a href="{{url_for('login')}}"><img src="{{url_for('static', filename='images/logout.png')}}" width="80"></a>
	</div>
</header>
<nav>
	<ul id="nav">
		<li id="Dash1"><a href="{{url_for('dashboard')}}" class="active"><span><i  class="fa fa-dashboard"></i>Dashboard</span></a></li>
		<li class="i_house"><a href="{{url_for('add')}}" class=""><span><i  class="fa fa-user-plus"></i>Add Employee</span></a></li>
		<li class="i_house"><a href="{{url_for('update')}}" class=""><span><i  class="fa fa-user"></i>Update Employee</span></a></li>
		<li class="i_house"><a href="{{url_for('delete')}}" class=""><span><i  class="fa fa-trash"></i>Delete Employee</span></a></li>
		<li class="i_house"><a href="{{url_for('search')}}" class=""><span><i  class="fa fa-search"></i>Quick Search</span></a></li>
		<li class="i_house"><a href="{{url_for('logs')}}" class=""><span><i  class="fa fa-history"></i>Logs</span></a></li>
		<li class="i_house"><a href="{{url_for('login')}}" class=""><span><i  class="fa fa-sign-out"></i>Sign Out</span></a></li>
	</ul>
</nav>
<section id="content">
	<div class="row">
		<div class="Useroptn">
			<div class="small-box bg-light-blue">
			  <div class="inner">
				<h3> ADD </h3>
				<p> Employee </p>
			  </div>
			  <div class="iconA"> 
					<i class="ffa ffa-building-o"></i>
			  </div>
			  <a href="{{url_for('add')}}" class="small-box-footer"> More info <i class="ffa ffa-arrow-circle-right"></i> </a>
			</div>
		</div>
		<div class="Useroptn"> 
			<div class="small-box bg-orange">
			  <div class="inner">
				<h3> UPDATE </h3>
				<p> Employee </p>
			  </div>
			  <div class="icon"> 
					<i class="ffa ffa-building-o"></i>
			  </div>
			  <a href="{{url_for('update')}}" class="small-box-footer"> More info <i class="ffa ffa-arrow-circle-right"></i> </a>
			</div>
		</div>
		<div class="Useroptn"> 
			<div class="small-box bg-grass">
			  <div class="inner">
				<h3> DELETE </h3>
				<p> Employee </p>
			  </div>
			  <div class="icon"> 
					<i class="ffa ffa-building-o"></i>
			  </div>
			  <a href="{{url_for('delete')}}" class="small-box-footer"> More info <i class="ffa ffa-arrow-circle-right"></i> </a>
			</div>
		</div>
		<div class="Useroptn"> 
			<div class="small-box bg-wood">
			  <div class="inner">
				<h3> SEARCH </h3>
				<p> Logs </p>
			  </div>
			  <div class="icon"> 
					<i class="ffa ffa-building-o"></i>
			  </div>
			  <a href="{{url_for('add')}}" class="small-box-footer"> More info <i class="ffa ffa-arrow-circle-right"></i> </a>
			</div>
		</div>
	</div>
</section>
</body>
</html>
