<!--Displaying Login form-->
<html>
<head>
<title>LOGIN FORM</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <br>
  <!--Showing Username and Password into the form-->
  <form  action="" method="post">
  	<img src="{{url_for('static', filename='images/df_logo-1.png')}}"><br>
  	<h3 id="admin">ADMIN</h3>
    <input type="text"  name="username" placeholder="Username" required><br><br>
    <input type="password"  name="password" placeholder="Password" required><br><br><br>
      <button class="button" style="vertical-align:middle"><span>Submit</span></button>
  
  </form><br>
<!--Adding color to the form-->
    <h1 style="background-color: white;" class="er"><strong>Error:</strong> {{ error }}</h1>
     
 </body>
 </html>

 
