<!--Updating employee details-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="{{url_for('static' , filename='js/update.js')}}"></script>
<title>Updating Employee details </title>
</head>
<body>
	<header>
	<div id="logo">
		<a href="{{url_for('dashboard')}}">
			<img src="{{url_for('static', filename='images/df_logo-1.png')}}">
		</a>
	</div>
	<div id="Data">
		<h1>Dashboard</h1>
	</div>
	<div id="signout">
	<a href="{{url_for('login')}}"><img src="{{url_for('static', filename='images/logout.png')}}" width="80"></a>
	</div>
	</header>
	<!--Side navbar-->
	<nav>
	<ul id="nav">
		<li id="Dash1"><a href="{{url_for('dashboard')}}" class="active"><span><i  class="fa fa-dashboard"></i>Dashboard</span></a></li>
		<li class="i_house"><a href="{{url_for('add')}}" class=""><span><i  class="fa fa-user-plus"></i>Add Employee</span></a></li>
		<li class="i_house"><a href="{{url_for('employee')}}" class=""><span><i  class="fa fa-search"></i>Employee Details</span></a></li>
		<li class="i_house"><a href="{{url_for('update')}}" class=""><span><i  class="fa fa-user"></i>Update Employee</span></a></li>
		<li class="i_house"><a href="{{url_for('delete')}}" class=""><span><i  class="fa fa-trash"></i>Delete Employee</span></a></li>
		<li class="i_house"><a href="{{url_for('search')}}" class=""><span><i  class="fa fa-search"></i>Quick Search</span></a></li>
		<li class="i_house"><a href="{{url_for('logs')}}" class=""><span><i  class="fa fa-history"></i>Logs</span></a></li>

        <li class="i_house"><a href="{{url_for('logs_search')}}" class=""><span><i  class="fa fa-search"></i>Logs Search</span></a></li>

		<li class="i_house"><a href="{{url_for('login')}}" class=""><span><i  class="fa fa-sign-out"></i>Sign Out</span></a></li>
	</ul>
</nav>

<div id="container">
	<!--Displaying Update employee form-->
 <h1>Update Employee Form </h1>

 <form method="POST" action="">

 <div class="userinput">
	 <!--Updating employee id-->
   <label> Employee Id </label>
   <input type="text" name="id" required >
  </div>


<div class="userinput">
	<!--Updating employee phone number-->
   <label> Employee Contact Number </label>
   <input type="number" name="phone" required>
  </div>

	 <div class="userinput">
		 <!--Updating employee address-->
   <label> Employee Address </label>
   <input type="text" name="address"  required>
  </div>



  <div style="text-align:center">
	<!--Submit and reset buttons-->

   <input type="submit" class = "sampleBtn">

   <input type="reset"  value="Reset" class="sampleBtn">
  </div>
  
 </form>
 
 </div>
 
</body>
</html>

