
{% load static %}>
<!DOCTYPE html>
<html>
<head>
<title>LOGIN FORM</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id ="main">
  
  <div id="c"><br>
  
  <img src="static/css/df.png" ><br>

  <h3>ADMIN</h3>
 <form>
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="password" name="password" placeholder="password"><br><br><br>
	<button type="submit" class="button"><b>SUBMIT</b></button><br><br>

    
   </form>
   <div><a href="#"><span id="teju">Forgot Password</a></div></span><br>
   </div>
   
 </body>
 </html>

  




	
