  #b{
    width:200%;
	background-image:url("img.png");
	
	display:inline-block;
	}
  #c{
    width:100%;
	background-color:#14192585;
	border-radius:5%;
	
	
	/*background-image:url("img.png");*/
	display:inline-block;
	}
  /*#d{
    width:15%;
	background-color:blue;
	display:inline-block;
	}*/
  img{
	  border-radius:100%;
	  border:2px solid orange; 
	  margin-left:1%; 
	  width:150px;
	  height:150px;
	  
	  }
#teju{
		text-align:center;
		color:white;
	}
	  
   h3{
	 color:orange;
	 
   }
   
	   
  input[type=text] {
  width: 50%;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 
}

input[type=password] {
  width: 50%;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  
  
}

input[type=submit] {
  /*background-color:#ffd11a;*/
  width:7%;
  
}

.button {
  padding: 15px 25px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ffe066;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #ffe066;}

.button:active {
  background-color: #ffe066;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



 #main{ 
	   
	text-align:center;
	border:3px solid orange;
	margin-top: 37px;
    margin-bottom: 100px;
    margin-right: 35%;
    margin-left: 35%;
	border-radius:5%;
	background-image:url("office.jpg");
	background-size:cover;
    
    }